/* CSS files add styling rules to your content */
:root {
  --base-bg-hi: hsl(60, 100%, 98%);
  --base-fg-lo: hsl(0, 0%, 0%);
  --base-fg-md: hsl(0, 0%, 50%);
  --base-hi-hi: hsl(0, 100%, 80%);
  --base-hi-md: hsl(0, 100%, 40%);
  --base-hi-lo: hsl(0, 100%, 20%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", helvetica, arial, sans-serif;
  margin: 2em auto;
  padding: 0 5vw;
  font-size: 16px;
  max-width: 70ch;
  background-color: var(--base-bg-hi);
  color: var(--base-fg-lo);
}

p {
  margin-bottom: 1em;
}

a {
  color: var(--base-hi-md);
}

a:visited {
  color: var(--base-hi-md);
}

a:hover {
  text-decoration: none;
}

h1.title {
  display: flex;
  align-items: center;
}

h1 {
  margin: 1em 0;
  font-size: 1.2rem;
}

.headerDay {
  display: block;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 1em;
  font-weight: 700;
  margin: 2em 0 1em;
  line-height: 2 em;
}

h3 {
  font-size: 1em;
  font-weight: 500;
  font-style: italic;
}

main {
  margin-left: 3em;
}

.toc {
  margin-left: -5em;
}

.toc h2 {
  font-weight: 400;
  margin: 1em 0;
  font-size: 1rem;
  display: flex;
  align-items: flex-end;
  line-height: 2em;
}

.toc h2 > span {
  min-width: 5rem;
  text-align: right;
  padding-right: 1rem;
  font-size: small;
  font-weight: 700;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.05em;
  line-height: 1.75rem;
}

.toc h2 > a {
  flex-basis: auto;
}

label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

input,
textarea {
  margin-bottom: 1.25em;
  padding: 8px;
  border: 2px solid var(--base-fg-md);
}

textarea {
  width: 100%;
  height: 10em;
  resize: vertical;
  margin-bottom: 0.5em;
}

[type="text"],
[type="password"] {
  width: 33.6%;
}

[type="checkbox"] {
  margin-bottom: 2em;
  margin-right: 0.5em;
  transform: scale(1.5);
  border-color: var(--base-fg-md);
}

[type="submit"],
button {
  border: none;
  margin-bottom: 1em;
  padding: 10px 20px;
  background-color: var(--base-hi-md);
  color: var(--base-bg-hi);
}

[type="submit"]:focus,
[type="active"],
[type="submit"]::-moz-focus-inner {
  outline: none;
  border: 0;
}

.top {
  font-size: smaller;
}

.top::before {
  content: "← ";
}

footer {
  font-size: small;
  margin: 4em 0;
}

[type="checkbox"]:focus,
[type="date"]:focus,
[type="email"]:focus,
[type="file"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="radio"]:focus,
[type="search"]:focus,
[type="submit"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
button:focus,
select:focus,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 1px 4px var(--base-fg-lo);
}
