h2 {
  margin-top: 2em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 1.36em;
  margin: 1em 0 0;
  line-height: 1.25;
}

h3 > a {
  text-decoration: none;
}

time {
  font-size: x-small;
}
